<div class="container">
  <div class="row">
    <div class="form_bg">
      <form>
        <h2 class="text-center">Please Log In</h2>
        <br/>
        <div class="form-group">
          <input class="form-control" id="username" placeholder="User Name" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Password" required>
        </div>
        <br/>
        <div class="align-center">
          <button type="submit" class="btn btn-default" id="login">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
