<div *ngIf="isDataLoaded" class="container">
  <ngx-loading [show]="!isDataLoaded" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <h3 style="margin-top: 3px;"><b>bl-status:</b> Postal Accounting Details</h3>
  <h3 style="margin-bottom: 0px;">Pattern: <span style="color: #3577ba;"><b>{{patternData.pattern}}</b></span>
    <span *ngIf="checkBadgeStatus('New')" class="badge">New</span>
    <span *ngIf="checkBadgeStatus('In Process')" class="badge badge-info">In Process</span>
    <span *ngIf="checkBadgeStatus('Complete')" class="badge badge-success">Complete!</span>
    <span *ngIf="checkBadgeStatus('Replacement')" class="badge badge-warning">Replacement</span>
    <span *ngIf="checkBadgeStatus('Issue')" class="badge badge-error">Issue!</span>
  </h3>
  <small>
    <a routerLink="/postalaccounting">BACK TO PATTERNS</a> |
    <a [routerLink]=[] (click)="refreshPatternData()">Refresh Data</a>
  </small>
  <div style="margin-top: 10px; margin-bottom: 2px;">
    <table class="table table-condensed table-bordered table-responsive table-inverse">
      <tr>
        <td class="col-md-2 col-sm-1"><b>Client:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.client}}</td>
        <td class="col-md-2 col-sm-1"><b>Piece Specs:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.Specs}}</td>
      </tr>
      <tr>
        <td class="col-md-2 col-sm-1"><b>Project:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.project}}</td>
        <td class="col-md-2 col-sm-1"><b>Type:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.type}}</td>
      </tr>
      <tr>
        <td class="col-md-2 col-sm-1"><b>Total Pieces:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.total | addCommas}}</td>
        <td class="col-md-2 col-sm-1"><b>Mail Class:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.mailClass}}</td>
      </tr>
      <tr>
        <td class="col-md-2 col-sm-1"><b>Drop Date:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.dropDate}}</td>
        <td class="col-md-2 col-sm-1"><b>Sample Status:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.sampleStatus}}</td>
      </tr>
      <tr>
        <td class="col-md-2 col-sm-1"><b>CAR-RT Pieces?:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.hasCRRT}}</td>
        <td class="col-md-2 col-sm-1"><b>Origin/Local Pieces?:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.hasOrigin}}</td>
      </tr>
      <tr>
        <td class="col-md-2 col-sm-1"><b>Single Piece Count:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.spr}}</td>
        <td class="col-md-2 col-sm-1"><b>Failed Piece Count:</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.fail}}</td>
      </tr>
      <tr>
        <td class="col-md-2 col-sm-1"><b>Sample Note(s):</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.sampleRoomNotes}}</td>
        <td class="col-md-2 col-sm-1"><b>Accounting Note(s):</b></td>
        <td class="col-md-4 col-sm-2">{{patternData.postalAccountingNotes}}</td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary btn-s" style="margin-top: 0px; margin-bottom: 0px;" (click)="editAccountingNotes(template)">
    <span class="glyphicon glyphicon-edit"></span> Edit Accounting Note(s) </button>
  </div>
  <hr>
  <!-- pallet tag upload -->
  <div class="row" style="margin-left: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>Pallet Tag PDF File Upload</h3>
      <div>
        <div>
          <input type="file" name="palletUpload" ng2FileSelect [uploader]="uploaderPalletTags" />
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-s" style="margin-top: 5px; margin-bottom: 5px;" (click)="uploadPalletTags()"
            [disabled]="enablePalletTagsUpload()">
                <span class="glyphicon glyphicon-upload"></span> Upload Pallet Tags </button>
        </div>
      </div>
      <div>
        Pallet Tag PDF Upload progress: {{getPalletTagProgress()}}%
        <div class="progress" style="margin-top: 5px; width: 75%">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': getPalletTagProgress() + '%'}"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-9 col-md-6 col-lg-6">
      <div class="table-responsive">
        <button style="margin-bottom: 5px;" type="button" class="btn btn-danger btn-xs" (click)="deletePalletPDF()"
            [disabled]="enablePalletTagsDelete()">
          <span class="glyphicon glyphicon-trash"></span> Delete Pallet Tag PDF File</button>
        <table class="table table-condensed table-bordered">
          <tr>
            <td style="width:30%"><b>Current File:</b></td>
            <td style="width:70%">{{[patternData.currentPalletTagFile]}}</td>
          </tr>
          <tr>
            <td><b>Upload Date/Time:</b></td>
            <td>{{[patternData.palletTagFileUploadDateTime]}}</td>
          </tr>
          <tr>
            <td><b>User:</b></td>
            <td>{{[patternData.palletTagFileUser]}}</td>
          </tr>
          <tr>
            <td><b>Download Count:</b></td>
            <td>{{[patternData.palletTagFileDownloadCount]}}</td>
          </tr>
          <tr>
            <td><b>Replacement Count:</b></td>
            <td>{{[patternData.palletTagReplacementCount]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- pallet worksheet upload -->
  <div class="row" style="margin-left: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>Pallet Worksheet PDF File Upload</h3>
      <div>
        <div>
          <input type="file" name="worksheetUpload" ng2FileSelect [uploader]="uploaderPalletWorksheets" />
        </div>
        <div>
          <button type="button" class="btn btn-warning btn-s" style="margin-top: 5px; margin-bottom: 5px;" (click)="uploadPalletWorksheet()"
            [disabled]="enablePalletWorksheetUpload()">
                <span class="glyphicon glyphicon-upload"></span> Upload Pallet Worksheet </button>
        </div>
      </div>
      <div>
        Pallet Worksheet PDF Upload progress: {{getPalletWorksheetProgress()}}%
        <div class="progress" style="margin-top: 5px; width: 75%">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': getPalletWorksheetProgress() + '%'}"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-9 col-md-6 col-lg-6">
      <div class="table-responsive">
        <button style="margin-bottom: 5px;" type="button" class="btn btn-danger btn-xs" (click)="deleteWorkSheetPDF()"
            [disabled]="enablePalletWorksheetDelete()">
            <span class="glyphicon glyphicon-trash"></span> Delete Pallet Worksheet PDF File</button>
        <table class="table table-condensed table-bordered">
          <tr>
            <td style="width:30%"><b>Current File:</b></td>
            <td style="width:70%">{{[patternData.currentPalletWorksheetFile]}}</td>
          </tr>
          <tr>
            <td><b>Upload Date/Time:</b></td>
            <td>{{[patternData.palletWorksheetFileUploadDateTime]}}</td>
          </tr>
          <tr>
            <td><b>User:</b></td>
            <td>{{[patternData.palletWorksheetFileUser]}}</td>
          </tr>
          <tr>
            <td><b>Download Count:</b></td>
            <td>{{[patternData.palletWorksheetFileDownloadCount]}}</td>
          </tr>
          <tr>
            <td><b>Replacement Count:</b></td>
            <td>{{[patternData.palletWorksheetReplacementCount]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal Window -->
<template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Postal Accounting Notes</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div style="color: #b94a48;">
      <label class="checkbox-inline">
          <input type="checkbox" [checked]="isAccountingIssueChecked" (change)="checkAccountingIssue($event)">There is an issue!
      </label>
      <span *ngIf="isAccountingIssueChecked" class="badge badge-error">Issue!</span>
    </div>
    <small style="color: #3577ba;">Add/Edit/Update Note(s):</small><br>
    <textarea ref-textarea [(ngModel)]="postalAccountingNotes" rows="4" cols="80"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-s" style="margin-top: 0px; margin-bottom: 0px;"(click)="clearPostalAccoutingNotes()">
        <span class="glyphicon glyphicon-trash"></span> Clear</button>
    <button type="button" class="btn btn-primary btn-s" style="margin-top: 0px; margin-bottom: 0px;" (click)="saveAccountingNotes()">
      <span class="glyphicon glyphicon-save"></span> Save</button>
  </div>
</template>
