<div *ngIf="isDataLoaded" class="container">
    <ngx-loading [show]="!isDataLoaded" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <h3 style="margin-top: 3px;"><b>bl-status:</b> Sample Room Details</h3>
    <h3 style="margin-bottom: 0px;">Pattern: <span style="color: #3577ba;"><b>{{patternData.pattern}}</b></span>
      <span *ngIf="checkBadgeStatus('New')" class="badge">New</span>
      <span *ngIf="checkBadgeStatus('In Process')" class="badge badge-info">In Process</span>
      <span *ngIf="checkBadgeStatus('Complete')" class="badge badge-success">Complete!</span>
      <span *ngIf="checkBadgeStatus('Replacement')" class="badge badge-warning">Replacement</span>
      <span *ngIf="checkBadgeStatus('Issue')" class="badge badge-error">Issue!</span>
    </h3>
    <small style="padding-bottom: 10px;">
      <a routerLink="/sampleroom">BACK TO PATTERNS</a> |
      <a [routerLink]=[] (click)="refreshPatternData()">Refresh Data</a>
    </small>
    <br>
    <div style="width: 200px; margin-top: 10px;">
      <ng-select [items]="statuses" (selected)="statusSelected($event)"
        placeholder="Change Status">
      </ng-select>
    </div>
    <div style="margin-top: 15px; margin-bottom: 2px;">
        <table class="table table-condensed table-bordered table-responsive">
          <tr>
            <td class="col-md-2 col-sm-1"><b>Client:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.client}}</td>
            <td class="col-md-2 col-sm-1"><b>Piece Specs:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.Specs}}</td>
          </tr>
          <tr>
            <td class="col-md-2 col-sm-1"><b>Project:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.project}}</td>
            <td class="col-md-2 col-sm-1"><b>Type:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.type}}</td>
          </tr>
          <tr>
            <td class="col-md-2 col-sm-1"><b>Total Pieces:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.total | addCommas}}</td>
            <td class="col-md-2 col-sm-1"><b>EPOP?:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.isEPOP}}</td>
          </tr>
          <tr>
            <td class="col-md-2 col-sm-1"><b>Single Piece Count:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.spr}}</td>
            <td class="col-md-2 col-sm-1"><b>Failed Piece Count:</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.fail}}</td>
          </tr>
          <tr>
            <td class="col-md-2 col-sm-1"><b>Sample Note(s):</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.sampleRoomNotes}}</td>
            <td class="col-md-2 col-sm-1"><b>Accounting Note(s):</b></td>
            <td class="col-md-4 col-sm-2">{{patternData.postalAccountingNotes}}</td>
          </tr>
        </table>
        <button type="button" class="btn btn-primary btn-s" style="margin-top: 0px; margin-bottom: 0px;" (click)="editSampleNotes(template)">
        <span class="glyphicon glyphicon-edit"></span> Edit Sample Room Note(s) </button>
      </div>
      <hr>
</div>
<!-- Modal Window -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Sample Room Notes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div style="color: #b94a48;">
        <label class="checkbox-inline">
            <input type="checkbox" [checked]="isSampleIssueChecked" (change)="checkSampleIssue($event)">There is an issue!
        </label>
        <span *ngIf="isSampleIssueChecked" class="badge badge-error">Issue!</span>
      </div>
      <small style="color: #3577ba;">Add/Edit/Update Note(s):</small><br>
      <textarea ref-textarea [(ngModel)]="sampleRoomNotes" rows="4" cols="80"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-s" style="margin-top: 0px; margin-bottom: 0px;"(click)="clearSampleRoomNotes()">
          <span class="glyphicon glyphicon-trash"></span> Clear</button>
      <button type="button" class="btn btn-primary btn-s" style="margin-top: 0px; margin-bottom: 0px;" (click)="saveSampleNotes()">
        <span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
  </ng-template>
