<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="font-size: 1.5em;margin-top:-2px;color:beige" [routerLink]="['/']" class="navbar-brand"><b>bl-status:</b></a>
    </div>
    <div class="collapse navbar-collapse" id="bl-statusNavBar" [collapse]="isCollapsed">
      <ul class="nav navbar-nav" role="navigation">
        <li><a [routerLink]="['/']">HOME</a></li>
        <li><a *ngIf="this.authenticationService.loggedInRoles.indexOf('SampleRoom') > -1" [routerLink]="['/sampleroom']">Sample Room</a></li>
        <li><a *ngIf="this.authenticationService.loggedInRoles.indexOf('Accounting') > -1" [routerLink]="['/postalaccounting']">Postal Accounting</a></li>
        <li><a *ngIf="this.authenticationService.loggedInRoles.indexOf('Dropshipping') > -1" [routerLink]="['/dropshipping']">Drop Shipping</a></li>
        <li><a *ngIf="this.authenticationService.loggedInRoles.indexOf('Administrator') > -1" [routerLink]="['/admin']">Administration</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!this.authenticationService.isLoggedIn()" class="log-li"
          [routerLink]="['/login']"><span class="log-li"></span><i class="fa fa-sign-in" aria-hidden="true"></i> Log In </a>
        </li>
        <li><a *ngIf="this.authenticationService.isLoggedIn()" class="log-li" style="color:greenyellow;"
          (click)="this.authenticationService.logout()" [routerLink]="['/home']"><span class="log-li">
            </span><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out: {{this.authenticationService.getUsername()}} </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
