<div class="container">
  <div class="starter-template">
      <h3 style="margin-top: 3px;">
        <b>bl-status:</b> Administration</h3>
  </div>
  <div>
    <tabset [justified]="true">
      <tab heading="">
        <ng-template tabHeading>
          <i class="glyphicon glyphicon-list"></i> Logs
        </ng-template>
        <div class="container">
          <div>
            <h3>Application Log</h3>
          </div>
          <hr>
          <div>
            <h3>Server Log</h3>
          </div>
        </div>
      </tab>
      <tab heading="">
        <ng-template tabHeading>
          <i class="glyphicon glyphicon-user"></i> Users
        </ng-template>
        <div class="container">
          <div>
            <h3>Manage Users</h3>
          </div>
          <hr>
        </div>
      </tab>
      <tab heading="">
        <ng-template tabHeading>
          <i class="glyphicon glyphicon-hdd"></i> Data
        </ng-template>
        <div class="container">
          <div>
            <h3>Manage Data</h3>
          </div>
          <hr>
        </div>
      </tab>
    </tabset>
  </div>
</div>
