<div class="container">
  <div class="starter-template">
    <h1>bl-status</h1>
    <p class="lead">EMS Box loading Status Tracking System</p>
  </div>
  <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the pattern column...' (keyup)='updateFilter($event)'
  />
  <div>
    <ngx-datatable class="material"
      #table
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10">
      >
    </ngx-datatable>
  </div>
</div>
