<div class="container">
  <div class="starter-template">
    <img [src]="logoImagePath" alt="EMS Logo" width="105" height="60">
    <h3 style="margin-top: 3px;"><b>bl-status:</b> EMS Box Loading Status Tracking System</h3>
  </div>
  <!-- filter -->
  <div class="row">
    <div class="col-xs-* col-sm-12 col-md-* col-lg-3">
      <input type='text' style='padding:8px;margin:5px auto;width:100%;' placeholder='Type to filter the pattern column...'
      (keyup)='updatePatternFilter($event)'
      [(ngModel)]='this.filterText'
      />
    </div>
    <div class="col-xs-* col-sm-12 col-md-* col-lg-2" style="margin-top:7px;">
      <!-- refresh -->
      <button (click)="refreshStatusData()" class="btn btn-primary">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
      </button>
    </div>
    <!-- additional filters -->
    <div class="col-xs-* col-sm-12 col-md-* col-lg-7" >
      <div style="padding:0px;margin-top:7px;width: 50%;float: left;">
        <span>Drop Date Range: </span>
      <input type="text" name="daterangeInput" daterangepicker [options]="options"
      (selected)="selectedDate($event, daterange)" class="input" style="padding:5px;" />
      </div>
      <span style='padding:8px;margin:5px; float: right;'>
      <div class="form-check form-check-inline">
      <label class="checkbox-inline">
          <input type="checkbox" value="">Letters
        </label>
      <label class="checkbox-inline">
          <input type="checkbox" value="">Flats
        </label>
      <label class="checkbox-inline">
          <input type="checkbox" value="">Complete
        </label>
      </div>
      </span>
      </div>
      </div>
      <!-- data table (ngx-datatable) -->
      <div style="margin-top: 15px">
    <ngx-datatable  (page)="onPage($event)" class="material expandable" #homeTable [rows]="rows" [columns]="columns" [columnMode]="'force'" [sortType]="'multi'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rowClass]="getRowClass">
      <!-- Row Detail Template (expandable) -->
      <ngx-datatable-row-detail [rowHeight]="275" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div><strong>PATTERN DETAILS:</strong><span style="color: #3577ba; margin-left: 4px;"><b>{{row.pattern}}</b></span></div>
            <br>
            <table class="table table-condensed table-bordered">
              <tr>
                <td class="col-md-2 col-sm-1"><b>Client:</b></td>
                <td class="col-md-4 col-sm-2">{{row.client}}</td>
                <td class="col-md-2 col-sm-1"><b>Piece Specs:</b></td>
                <td class="col-md-4 col-sm-2">{{row.Specs}}</td>
              </tr>
              <tr>
                <td class="col-md-2 col-sm-1"><b>CAR-RT?:</b></td>
                <td class="col-md-4 col-sm-2">{{row.hasCRRT}}</td>
                <td class="col-md-2 col-sm-1"><b>Tray/Sack Max:</b></td>
                <td class="col-md-4 col-sm-2">{{row.trayMax}}</td>
              </tr>
              <tr>
                <td class="col-md-2 col-sm-1"><b>Internal Project ID:</b></td>
                <td class="col-md-4 col-sm-2">{{row.projectID}}</td>
                <td class="col-md-2 col-sm-1"><b>Internal Qual. ID:</b></td>
                <td class="col-md-4 col-sm-2">{{row.qualID}}</td>
              </tr>
              <tr>
                <td class="col-md-2 col-sm-1"><b>Single Piece Count:</b></td>
                <td class="col-md-4 col-sm-2">{{row.spr}}</td>
                <td class="col-md-2 col-sm-1"><b>Failed Piece Count:</b></td>
                <td class="col-md-4 col-sm-2">{{row.fail}}</td>
              </tr>
              <tr>
                <td class="col-md-2 col-sm-1"><b>Sample Note(s):</b></td>
                <td class="col-md-4 col-sm-2">--</td>
                <td class="col-md-2 col-sm-1"><b>Accounting Note(s):</b></td>
                <td class="col-md-4 col-sm-2">--</td>
              </tr>
            </table>
            <div>
              <button (click)="printJobTicket(row.pattern)" style="margin-bottom: 10px; margin-left: 0px;" class="btn btn-primary"><i class="fa fa-print"></i> Print Unofficial Job Ticket</button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
        </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Pattern">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{row.pattern}}</strong><span *ngIf="isComplete(row.sampleStatus, row.paperworkStatus)"><i class="fa fa-check" aria-hidden="true" style="color:green"></i></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Project" [width]="280">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.project}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mail Class">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.mailClass}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Sample Status" [cellClass]="getSampleCellClass">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.sampleStatus}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Paperwork Status" [cellClass]="getPaperworkCellClass">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.paperworkStatus}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Piece Type">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.type}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Piece Count">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.total | addCommas}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Drop Date">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{row.dropDate}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
